body{
    background-color: black;
    color: white;  
}

li{
    list-style-type: none
}

header>nav>ul{
    border: solid #c91c1c;
}

header > nav > ul > li{
    display: inline;
    padding: 3em;  
}

a{
    text-decoration: none;
    color: white;
}

header{
    margin: 2em;  
}

section,img,main > ul > li{
    padding: 0.5em
}

footer{
    border: solid #c91c1c;
}

.banniere{
    width: 100%;
}

.perso-img{
    width: 10rem;
    height: 10rem;     
}

main >  ul > li > img{
    float: left;
    clear: both;
}

header nav{
    text-align: center;
  }
